@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap");
@media (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

body {
  font-size: 16px;
  color: #333;
  font-family: 'Noto Serif JP', serif;
  line-height: 1.6875;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}

.section {
  margin-top: 160px;
}

@media (max-width: 767px) {
  .section {
    margin-top: 96px;
  }
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 16px;
  position: relative;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 30px;
  }
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60px;
  height: 1px;
  background: #3EA1D1;
}

@media (max-width: 767px) {
  .section-title::after {
    width: 42px;
    height: 1px;
  }
}

.btn {
  font-size: 14px;
  letter-spacing: .1em;
  color: #3EA1D1;
  border: solid 1px #3EA1D1;
  background: #fff;
  display: inline-block;
  padding: 10px 54px;
  -webkit-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
}

.btn.active {
  background: #3EA1D1;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .btn:not(.-submit):hover {
    background: #3EA1D1;
    color: #FFFFFF;
  }
}

/*=================================
header
=================================*/
.header {
  width: 100%;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.drawer--right .header .drawer-hamburger {
  right: 3px;
}

.header .drawer-hamburger-icon {
  background-color: #3EA1D1;
}

.drawer-open .header .drawer-hamburger-icon {
  background-color: transparent;
}

.header .drawer-hamburger-icon::before, .header .drawer-hamburger-icon::after {
  background-color: #3EA1D1;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .header-container {
    height: 60px;
  }
}

.header-logo {
  width: 120px;
}

.header-nav {
  margin-left: auto;
  padding: 15px 0;
}

@media (max-width: 767px) {
  .header-nav {
    top: 60px;
    background-color: #3EA1D1;
  }
}

@media (min-width: 768px) {
  .header-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .header-nav-item:not(:first-child) {
    margin-left: 46px;
  }
}

.header-nav-item-link {
  display: block;
  height: 70px;
  line-height: 70px;
  letter-spacing: 0.027em;
  color: #333;
}

@media (max-width: 767px) {
  .header-nav-item-link {
    color: #fff;
    font-size: 18px;
    text-align: right;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
  }
}

@media (min-width: 768px) {
  .header-nav-item-link {
    -webkit-transition: color .4s;
    transition: color .4s;
  }
  .header-nav-item-link:hover {
    color: #3EA1D1;
  }
}

/*=================================
top
=================================*/
.top {
  padding-top: 70px;
}

@media (max-width: 767px) {
  .top {
    padding-top: 60px;
  }
}

.top-container {
  position: relative;
}

@media (max-width: 767px) {
  .top-picture {
    padding-top: 120%;
    background: url(../img/sp/top-sp.png) center center/cover;
  }
}

@media (min-width: 768px) {
  .top-picture {
    padding-top: 55%;
    background: url(../img/top.png) top right/82.5% no-repeat;
  }
}

@media (min-width: 768px) {
  .top-message {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: #fff;
    padding: 88px 44px 90px 40px;
  }
}

.top-message-title {
  font-size: 26px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .top-message-title {
    margin-top: 40px;
  }
}

.top-message-text {
  margin-top: 18px;
}

@media (max-width: 767px) {
  .top-message-text {
    margin-top: 32px;
  }
}

/*=================================
concept
=================================*/
.concept-content {
  margin-top: 64px;
}

@media (min-width: 768px) {
  .concept-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .concept-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin-right: 6.6667%;
  }
}

@media (min-width: 768px) {
  .concept-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

.concept-title {
  font-size: 20px;
  line-height: 1.7;
  font-weight: bold;
  text-align: left;
}

.concept-text {
  text-align: left;
  margin-top: 48px;
  line-height: 1.6875;
}

/*=================================
feature
=================================*/
.feature-items {
  margin-top: 64px;
}

@media (min-width: 768px) {
  .feature-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.feature-item {
  -webkit-box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
          box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
}

@media (min-width: 768px) {
  .feature-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 28.3333%;
            flex: 0 0 28.3333%;
  }
  .feature-item:hover .feature-item-picture > img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media (max-width: 767px) {
  .feature-item {
    margin-top: 48px;
  }
}

.feature-item-picture {
  overflow: hidden;
}

.feature-item-picture > img {
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.feature-item-title {
  text-align: center;
  padding: 32px 0;
  line-height: 1.6875;
}

/*=================================
about
=================================*/
.about {
  background: url(../img/bg.png) center center/cover;
  position: relative;
  padding: 120px 0;
}

@media (max-width: 767px) {
  .about {
    background: url(../img/sp/bg-sp.png) center center/cover;
    padding: 182px 0 55px;
  }
}

.about::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.12);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
}

.about-container {
  position: relative;
}

.about-text-top {
  font-size: 22px;
  line-height: 1.68182;
  color: #FFFFFF;
  font-weight: bold;
}

@media (max-width: 767px) {
  .about-text-top {
    font-size: 20px;
    line-height: 1.7;
  }
}

.about-text-bottom {
  margin-top: 40px;
  line-height: 1.6875;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .about-text-bottom {
    font-size: 14px;
    margin-top: 32px;
    line-height: 1.71429;
  }
}

/*=================================
products
=================================*/
.products-container {
  max-width: 940px;
}

@media (max-width: 767px) {
  .products-container {
    max-width: 240px;
  }
}

.products-items {
  margin-top: 64px;
}

@media (min-width: 768px) {
  .products-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.products-item {
  display: inline-block;
}

@media (min-width: 768px) {
  .products-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 27.6%;
            flex: 0 0 27.6%;
  }
  .products-item:hover .products-img > img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media (max-width: 767px) {
  .products-item:not(:first-child) {
    margin-top: 48px;
  }
}

.products-img {
  overflow: hidden;
}

.products-img > img {
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.products-item-text {
  margin-top: 24px;
  font-size: 14px;
  line-height: 1.71429;
}

.products-item-price {
  margin-top: 16px;
  color: #989898;
}

@media (max-width: 767px) {
  .products-item-price {
    font-size: 14px;
    line-height: 1;
  }
}

.products-btn {
  text-align: center;
  margin-top: 48px;
}

/*=================================
news
=================================*/
.news-container {
  max-width: 1040px;
}

.news-items {
  margin-top: 50px;
}

.news-item {
  border-bottom: 1px solid #E0E0E0;
  display: inline-block;
  padding: 23px 0;
}

.news-item:not(:nth-child(n + 2)) {
  padding-top: 0;
}

@media (min-width: 768px) {
  .news-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .news-item:hover .news-item-picture > img {
    -webkit-transform: translate(-50%, -50%) scale(1.05);
            transform: translate(-50%, -50%) scale(1.05);
  }
}

@media (min-width: 768px) {
  .news-item-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 260px;
            flex: 0 0 260px;
    margin-right: 40px;
  }
}

.news-item-picture {
  background: #000;
  padding-top: 61.5385%;
  position: relative;
  overflow: hidden;
}

.news-item-picture > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.news-item-right {
  font-size: 14px;
  color: #000;
  margin: auto 0;
}

@media (min-width: 768px) {
  .news-item-right {
    width: calc(100% - 300px);
  }
}

@media (max-width: 767px) {
  .news-time {
    margin-top: 24px;
  }
}

.news-title {
  margin-top: 16px;
  font-size: 18px;
}

.news-text {
  margin-top: 14px;
  color: #888888;
}

.news-btn {
  text-align: center;
  margin-top: 48px;
}

/*=================================
concept2
=================================*/
.concept2-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (min-width: 768px) {
  .concept2-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .concept2-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-right: 6.6667%;
  }
}

.concept2-left-title {
  font-size: 28px;
  line-height: 1.71429;
}

@media (max-width: 767px) {
  .concept2-left-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    line-height: 1.7;
  }
}

.concept2-left-text {
  margin-top: 48px;
  line-height: 1.6875;
}

@media (max-width: 767px) {
  .concept2-left-text {
    font-size: 14px;
    margin-top: 32px;
    line-height: 1.71429;
  }
}

.concept2-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

/*=================================
contact
=================================*/
.contact {
  background: url(../img/contact.png) no-repeat center center/contain;
  background-size: cover;
  margin-top: 225px;
  padding: 72px 40px 85px;
}

@media (max-width: 767px) {
  .contact {
    margin-top: 96px;
    padding: 56px 28px;
  }
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: 0;
  font-size: 16px;
  padding: .2em .5em;
  -webkit-box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
}

input[type="text"],
input[type="email"] {
  height: 40px;
}

textarea {
  min-height: 122px;
  resize: vertical;
}

.contact-title {
  color: #3EA1D1;
}

.contact-text {
  margin-top: 64px;
  text-align: center;
  line-height: .1em;
}

.contact-form {
  margin-top: 23px;
}

@media (min-width: 768px) {
  .contact-form {
    text-align: center;
  }
}

.contact-text-inline {
  color: #E7728E;
  font-size: 12px;
}

@media (max-width: 767px) {
  .contact-text-inline {
    font-size: 16px;
  }
}

.contact-list {
  max-width: 510px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .contact-list {
    max-width: 320px;
  }
}

.contact-item:not(:first-child) {
  margin-top: 34px;
}

@media (min-width: 768px) {
  .contact-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-item-title {
  background: rgba(62, 161, 209, 0.7);
  color: #fff;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  position: relative;
}

@media (min-width: 768px) {
  .contact-item-title {
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding-left: 10px;
  }
  .contact-item-title::after {
    content: "";
    position: absolute;
    top: 0;
    right: -8px;
    display: block;
    border-style: solid;
    border-width: 20px 0 20px 8px;
    border-color: transparent transparent transparent rgba(62, 161, 209, 0.7);
  }
}

@media (max-width: 767px) {
  .contact-item-title {
    display: inline-block;
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
  }
}

.contact-item-inline {
  color: #E7728E;
  font-size: 12px;
  vertical-align: super;
  line-height: 1;
}

@media (max-width: 767px) {
  .contact-item-inline {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  .contact-item-input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 320px;
            flex: 0 0 320px;
    margin-left: 18px;
    text-align: initial;
  }
}

@media (max-width: 767px) {
  .contact-item-input {
    margin-top: 3px;
  }
}

.contact-radio-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: solid 1px #fff;
  border-radius: 1px;
  -webkit-box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
}

.contact-radio {
  position: relative;
}

.contact-radio-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-radio-input:checked + .contact-radio-part {
  background: #3EA1D1;
  color: #fff;
  border-radius: 1px;
}

.contact-radio-input:focus + .contact-radio-part {
  outline: -webkit-focus-ring-color auto 5px;
}

.contact-radio-part {
  display: block;
  background: #fff;
  color: #3EA1D1;
  height: 38px;
  line-height: 38px;
  width: 80px;
  text-align: center;
  -webkit-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
}

.contact-footer {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .contact-footer {
    margin-top: 14px;
  }
}

.contact-privacy {
  position: relative;
  height: 22px;
  width: 22px;
  display: inline-block;
  vertical-align: middle;
}

.contact-privacy-part {
  display: inline-block;
  height: 22px;
  width: 22px;
  border: solid 1px #3EA1D1;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.contact-privacy-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-privacy-input:checked + .contact-privacy-part {
  width: 10px;
  border-top: 0;
  border-left: 0;
  background-color: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -5px;
  left: 5px;
}

.contact-privacy-input:focus + .contact-privacy-part {
  outline: -webkit-focus-ring-color auto 5px;
}

.contact-privacy-input:checked:focus + .contact-privacy-part {
  outline: none;
}

.contact-privacy-link {
  color: #3EA1D1;
  text-decoration: underline;
}

.contact-footer-submit {
  margin-top: 48px;
}

@media (max-width: 767px) {
  .contact-footer-submit {
    margin-top: 28px;
  }
}

.contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;
}

.contact-message.-error {
  color: #f00;
}

/*=================================
footer
=================================*/
footer {
  background: #F7F7F7;
}

.footer-container {
  padding: 48px 0 12px;
}

@media (max-width: 767px) {
  .footer-container {
    padding: 34px 0 14px;
  }
}

.footer-logo {
  margin: 0 auto;
  width: 120px;
}

.footer-content {
  margin-top: 24px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-content-left {
  font-size: 12px;
}

@media (min-width: 768px) {
  .footer-content-left {
    margin-right: 32px;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
  }
  .footer-content-left:hover {
    opacity: .7;
  }
}

.footer-content-right {
  font-size: 12px;
}

@media (min-width: 768px) {
  .footer-content-right {
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
  }
  .footer-content-right:hover {
    opacity: .7;
  }
}

@media (max-width: 767px) {
  .footer-content-right {
    margin-top: 16px;
  }
}

.footer-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 36px;
}

@media (max-width: 767px) {
  .footer-sns {
    margin-top: 14px;
  }
}

.fab {
  color: #3EA1D1;
}

@media (min-width: 768px) {
  .fab {
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
  }
  .fab:hover {
    opacity: .7;
  }
}

.footer-twitter {
  margin-right: 40px;
}

.footer-instagram {
  margin-right: 40px;
}

.footer-copy {
  text-align: center;
  margin-top: 24px;
}

@media (max-width: 767px) {
  .footer-copy {
    margin-top: 5px;
  }
}
